.layout{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 4px #F18BA2;
    border-radius:22px ;
    width: 225px;
    height: 75px;
    font-weight: 700;
    color: #414666;
}