.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: #FCE1E7;
    width: 100%;
    position: fixed;
    top: 0;
}
.placeholder {
    height: 85px; /* 與Header的高度相同 */
  }

.logo{
    height: 48px;
    width: auto;
    margin-left: 70px;
}

.navBar{
    display: flex;
}

.IconArea{
margin-right: 45px;
}

.icon{
    height: 48px;
    width: 48px;
    margin-left: 30px;
}

