.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: #FCE1E7;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.placeholder {
    height: 85px; /* 與Header的高度相同 */
  }


.logo{
    display: flex;
    height: 48px;
    width: auto;
    margin-left: 200px;
}

.IconArea{
margin-right: 1rem;
}

.icon{
    height: 40px;
    width: 40px;
    margin-left: 15px;
}

@media (min-width: 768px) {
    .logo{
        display: flex;
        height: 48px;
        width: auto;
        margin-left: 70px;
    }
    .icon{
        height: 48px;
        width: 48px;
        margin-left: 30px;
    }
  }

