.gallery{
   margin-bottom:130px ;
    padding: 0 10px 0 10px;
}


.gallery img{
    box-shadow: 4px 4px 4px #696D8A;
    
}

@media (min-width: 768px) {
    .gallery {
        padding: 0 130px 0 130px;
    }

    .search{
        width: 50%;
    }
  }