.searchArea{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search{
    width: 75%;
    height: 3rem;
    background-color: #696D8A;
    border: 0;
    border-radius: 14px;
    padding-left: 20px;
}

.hrSearchLine{
    position: relative;
    right: 65px;
    margin: 0;
    width: 3px;
    height: 2.95rem;
    background-color: white;
    
}

.searchImg{
    position: relative;
    right: 50px;
    top:10px;
    width: 30px;
    height: 30px;
}

.searchImg:hover{
    position: relative;
    right: 50px;
    top:10px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
}

@media (min-width: 768px) {
    .search{
        width: 50%;
    }
  }